.contacts {
  background-color: #000;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

.contact h1 {
  font-size: 42px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
}

.contact p {
  color: #ccc;
  margin-bottom: 30px;
}

form {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  background-color: #111;
  border: 1px solid #333;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
}

input:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #005fcc;
}
