.navbar {
  background-color: #111;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.bracket {
  color: #007bff;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #007bff;
}
